<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myappdad.kamaz" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Camag</name>
    <description>Kamag App</description>
    <content src="index.html" />
    <access origin="*" />
    
    <preference name="android-displayName" value="כמ&quot;ג" />
</widget>